*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: hsl(190, 10%, 12%);
  --secondary: hsl(138, 25%, 56%);
  --light: hsl(4, 100%, 97%);
  --abstract: hsl(42, 75%, 56%);
  --purple: hsl(266, 17%, 46%);
}

body {
  background-color: var(--light);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}
h1 {
  color: var(--primary);
  text-align: center;
}
.box {
  background-color: var(--secondary);
}
.box1 {
  width: 32px;
  height: 32px;
}
.box2 {
  width: 16px;
  height: 16px;
}
.box3 {
  width: 8px;
  height: 8px;
}
.box4 {
  width: 4px;
  height: 4px;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 512px;
  max-height: 512px;
}
.hover {
  background-color: var(--primary);
}
.button {
  height: 44px;
  width: 66px;
  text-align: center;
  margin: 0 auto;
}
